<div id="search-container" class="container">
    <div class="content">
        
        <!--
            <div class="blog-header">
                <div class="inner">

                    <div class="archive archive-search box archive-box">
                        <form class="search">
                            <input type="text" id="search-field" placeholder="Search&#8230;" />
                            <input type="submit" value="search" />
                        </form>
                    </div>

                </div>
            </div>
        -->

        <div id="results"></div>
    </div>
    <div class="search-close"></div>
</div>