<div class="site-info">Welcome to the site! Here I write about life on Earth and the future I believe most of us want. The home page will always show the latest posts, but I recommend new users begin with the introduction...</div>
