// sidebar adjustments
// reduce the space below the account h2 header

.header-cta {
    font-size: 0.9em !important;
    padding: 0 !important;
}

.account-email {
    font-weight: bold;
}

// ==============

.site-main {
    z-index: 100;
    flex-grow: 1;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 5vw;
}

/* Centered content container blocks */
.inner {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

// --------------

.site-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form {
    margin: 0 auto 10vw;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.signup-title {
    margin: 1em 0 0.1em;
    font-size: 2.5rem;

    span {
        display: block;
        font-size: 3.1rem;
    }
}

.signup-form p {
    color: var(--midgrey);
    font-size: 1.3em;
}

.signup-form p small {
    display: inline-block;
    margin: 15px 0 0 0;
    font-size: 1.4rem;
}

.signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-box .button {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .signup-box {
        flex-direction: column;
    }
    .signup-box .button {
        margin: 15px 0 0 0;
        width: 100%;
    }
}

.site-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form {
    margin: 0 auto 10vw;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.signin-title {
    margin: 1em 0 0.1em;
    font-size: 4.2rem;
}

.signin-form p {
    color: var(--midgrey);
    font-size: 1.3em;
}

.signin-form p small {
    display: inline-block;
    margin: 15px 0 0 0;
    font-size: 1.4rem;
}

.signin-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin-box .button {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .signin-box {
        flex-direction: column;
    }
    .signin-box .button {
        margin: 15px 0 0 0;
        width: 100%;
    }
}

.checkout-form {
    margin: 0 auto 10vw;
    max-width: 700px;
    width: 100%;
    text-align: center;
}

.checkout-title {
    margin: 0 auto 10px;
    padding: 5vw 0 0;
    font-size: 3.1rem;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.checkout-form p {
    margin: 0 auto 60px;
    max-width: 500px;
    color: var(--midgrey);
    font-size: 1em;
}

.checkout-box {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.checkout-plan {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-top: var(--blue) 6px solid;
    color: color(var(--midgrey) l(-30%));
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(39,44,49,0.03), 0 0 3px rgba(39,44,49,0.05), 0 5px 22px -10px rgba(39,44,49,0.12), 0 25px 30px -25px rgba(39,44,49,0.05);
}

.checkout-plan + .checkout-plan {
    margin-left: 30px;
}

.checkout-plan-header {
    position: relative;
    padding: 0 0 50px;
    color: var(--midgrey);
    text-align: center;
}

.checkout-plan-header:after {
    content: "";
    position: absolute;
    right: 30%;
    bottom: 25px;
    left: 30%;
    display: block;
    height: 2px;
    background: rgba(39,44,49,0.08);
    border-radius: 2px;
}

.checkout-plan-header h3 {
    margin: 0 0 25px 0;
    color: var(--darkgrey);
    font-size: 1.8rem;
    line-height: 1.15em;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.checkout-plan-header span {
    font-size: 2.6rem;
    font-weight: 300;
}

.checkout-plan-header strong {
    color: var(--darkgrey);
    font-size: 4.5rem;
    font-weight: 500;
}

.checkout-plan-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-plan-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.checkout-plan-content li {
    position: relative;
    margin: 0;
    padding: 0 0 15px 25px;
    line-height: 1.4em;
}

.checkout-plan-content li:before {
    content: "✓";
    position: absolute;
    left: 0;
    display: block;
    color: #26aa2e;
    font-size: 1.6rem;
    font-weight: 600;
}

.checkout-plan-content .button {
    margin: 20px 0 0 0;
}

@media (max-width: 740px) {
    .checkout-title {
        margin-top: 50px;
    }
    .checkout-box {
        flex-direction: column;
    }
    .checkout-plan + .checkout-plan {
        margin: 5vw 0 0 0;
    }
}

form[data-members-form] .button-loader,
form[data-members-form] .message-success,
form[data-members-form] .message-error {
    display: none;
}

.message-success svg,
.message-error svg {
    position: relative;
    top: -1px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.message-success svg {
    fill: #777;
}
.message-error svg {
    fill: var(--red);
}
/*
form[data-members-form].success .message-success,
form[data-members-form].error .message-error {
    position: fixed;
    top: 84px;
    right: 20px;
    left: 20px;
    z-index: 9999;
    margin: 0 auto;
    padding: 10px 0;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 500;
    text-align: center;
    background: color(var(--green) l(-5%));
    border-radius: 5px;
}
form[data-members-form].success .message-success {
    background: color(var(--green) l(-5%));
}
form[data-members-form].error .message-error {
    color: var(--red);
    background: #fff;
    box-shadow: var(--red) 0 0 0 1px;
}
*/
form[data-members-form] .button {
    position: relative;
}

/*-- Loading --*/

/* Hide button text */
form[data-members-form].loading .button-content {
    visibility: hidden;
}

/* Show loading spinner */
form[data-members-form].loading .button-loader {
    position: absolute;
    left: 50%;
    display: inline-block;
    margin-left: -19px;
    height: 31px;
    transform: scale(0.7);
}

.button-loader svg path,
.button-loader svg rect {
    fill: #fff;
}

/*-- Show success message on success --*/
form[data-members-form].success .message-success {
    display: block;
}

/*-- Show error message on error --*/
form[data-members-form].error .message-error {
    display: block;
}

.site-account {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}

.subscriber-box {
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
}

.subscriber-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subscription-title h1 {
    margin-bottom: 12px;
    font-size: 3.4rem;
}

.subscriber-avatar {
    position: relative;
    flex: 1 0 120px;
    width: 120px;
    height: 120px;
    border: 1px solid color(var(--lightgrey) l(+10%));
    background: color(var(--lightgrey) l(+10%));
    border-radius: 100%;

    object-fit: cover;
}

.subscription .subscriber-avatar {
    margin: 4px 0 0 20px;
}

.subscriber-avatar img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
}

.subscriber-box p {
    line-height: 1.5em;
}

.subscription {
    padding: 20px 0 40px;
}

.subscription-expiration-warning {
    color: var(--red);
}

.subscriber-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 20px 0 0;
    border-top: 1px solid color(var(--lightgrey) l(+10%));
    border-bottom: 1px solid color(var(--lightgrey) l(+10%));
}

.subscriber-detail {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 0 20px 0 0;
}

.subscriber-detail-label {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription-actions {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.subscription-actions li {
    margin: 0 0.8rem 0 0;
    padding: 0;
}

.subscription-actions li:last-of-type {
    margin-right: 0;
}

.subscription-actions li a {
    display: inline-block;
    padding: 0 1.8rem;
    height: 44px;
    border: 0;
    color: var(--blue);
    font-size: 1.5rem;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px var(--blue);
    cursor: pointer;
    transition: 0.4s ease;

    appearance: none;
}

.subscription-actions li a:hover {
    color: color(var(--blue) l(-15%));
    text-decoration: none;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px color(var(--blue) l(-10%));
    transition: 0.2s ease;
}

.subscription-actions .gh-subscription-cancel {
    color: color(var(--midgrey) l(+10%));
    box-shadow: inset 0 0 0 1px color(var(--midgrey) l(+10%));
}

.subscription-actions .gh-subscription-cancel:hover {
    color: var(--midgrey);
    box-shadow: inset 0 0 0 1px var(--midgrey);
}

.gh-subscription-cancel[data-members-continue-subscription] {
    color: #fff;
    background-color: var(--blue);
    box-shadow: none;
}

.gh-subscription-cancel[data-members-continue-subscription]:hover {
    color: #fff;
    background-color: color(var(--blue) l(-10%));
    box-shadow: none;
}

.gh-error-subscription-cancel {
    display: block;
    margin-top: 10px;
    color: var(--red);
    font-size: 1.5rem;
}

.account-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
}

.account-box-title {
    margin-top: 20px;
    font-size: 3.4rem;
    text-align: center;
}

.account-box p {
    text-align: center;
}


// =======================
.account-menu {
    position: relative;
}

.account-menu-avatar {
    position: relative;
    display: block;
    margin: 0;
    padding: 1px;
    width: 32px;
    height: 32px;
    background: color(var(--lightgrey) l(+10%));
    border-radius: 100%;
    cursor: pointer;
}

.account-menu-avatar img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
}

.account-menu ul {
    visibility: hidden;
    position: absolute;
    top: 43px;
    right: -8px;
    z-index: 9998;
    padding: 8px 0;
    min-width: 240px;
    background: #fff;
    border-radius: 3px;
    box-shadow: rgba(39,44,49,0.08) 0 12px 26px, rgba(39, 44, 49, 0.06) 1px 3px 8px;
    list-style: none;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4,0.01,0.165,0.99), opacity 0.2s cubic-bezier(0.4,0.01,0.165,0.99);
    transform: translateY(-6px) scale(0.95);
    transform-origin: top right;
    pointer-events: none;
}

.account-menu-avatar.active + ul {
    visibility: visible;
    opacity: 1.0;
    transform: translateY(0) scale(1);
    pointer-events: all;
}

.account-menu ul:before {
    content: "";
    position: absolute;
    top: -8px;
    right: 14px;
    z-index: 9998;
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
}

.account-menu ul li {
    margin: 0;
    padding: 0;
}

.account-menu .account-info {
    display: flex;
    flex-direction: column;
    margin: 0 0 6px;
    padding: 4px 20px 12px;
    border-bottom: 1px solid var(--whitegrey);
    color: var(--midgrey);
}

.account-info .account-email {
    display: inline-block;
    overflow-x: hidden;
    margin-top: -4px;
    max-width: 200px;
    color: color(var(--midgrey) l(-30%));
    font-weight: 600;
    text-overflow: ellipsis;
}

.account-menu ul a {
    display: block;
    padding: 6px 20px;
    color: color(var(--midgrey) l(-30%));
}

.account-menu ul a:hover {
    color: var(--blue);
    text-decoration: none;
}
