#search-container {
  
  display: block;
  left: 2em;
  outline: 0;
  overflow: hidden;
  position: absolute;

  text-indent: 7.5em;
  top: 0;
  width: 100%;
  z-index: 10000;

  overflow-y: scroll;
  background: green;//_pallete(bg-alt);
  display: none;

  /*
  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
    transition: all ease-out 0.3s;
    transform: translate3d(0, 100%, 0);
    border-top: 1px solid _pallete(border);
  }
  */

  #results {
    padding-bottom: calc(12rem + 8vw);
  }
}

.search-active {
  overflow-y: hidden;
}


.search-close {
  position: fixed;
  z-index: 600;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
  border: 1px solid _pallete(border);
  border-radius: 4rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all ease-out 0.1s;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 2px;
    margin-top: -1px;
    border-radius: 2px;
    background: __pallete(bg);
    transition: all ease-out 0.1s;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:focus,
  &:hover {
    border-color: _pallete(accent);

    &:after,
    &:before {
      background: _pallete(accent);
    }
  }
}
