
.subscribe-button {
    display: block;
    margin: 0 0 0 10px;
    padding: 4px 10px;
    border: #fff 1px solid;
    color: #fff;
    line-height: 1em;
    border-radius: 10px;
    opacity: 0.8;
}

.subscribe-button:hover {
    text-decoration: none;
    opacity: 1;
}

.subscribe-form {
    /*
    margin: 1.5em 0;
    padding: 6.5vw 7vw 8vw;
    border: color-mod(var(--lightgrey) l(+10%)) 1px solid;
    background: linear-gradient(color-mod(var(--whitegrey) l(+6%)), color-mod(var(--whitegrey) l(+4%)));
    */
    text-align: center;
    border-radius: 3px;
    margin: 1.5em 0;
    padding: 3em 2em;
    background-color: #F7F7F7;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
}

.subscribe-form-title {
    margin: 0 0 3px 0;
    padding: 0;
    color: var(--darkgrey);
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;

    @include breakpoint('<=small') {
        font-size: 1.9rem;
    }

    span {
        color: _palette(accent);
        display: inline-block;
    }
}

.subscribe-form-description {
    margin: 1em 0;
    color: var(--midgrey);
    font-size: 1.5rem;
    //line-height: 1.55em;
    @include breakpoint('<=small') {
        font-size: 1rem;
        line-height: 1;
    }
}

.subscribe-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 460px;
}

.subscribe-form .form-group {
    align-self: stretch;
    display: flex;
}

.subscribe-email {
    //display: block;
    padding: 0.6rem;
    width: 100%;
    //border: color-mod(var(--lightgrey) l(+7%)) 1px solid;
    border-color: color-mod(var(--lightgrey) l(-2%));
    color: var(--midgrey);
    font-size: 1rem;
    line-height: 1em;
    font-weight: normal;
    user-select: text;
    border-radius: 5px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
    border-color: color-mod(var(--lightgrey) l(-2%));
}

.subscribe-form button {
    //position: relative;
    //    //display: inline-block;
    margin: 0 0 0 0.5rem;
    padding: 2em;
    outline: none;
    color: #fff;
    line-height: 0;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(
            color-mod(var(--blue) whiteness(+7%)),
            color-mod(var(--blue) l(-7%) s(-10%)) 60%,
            color-mod(var(--blue) l(-7%) s(-10%)) 90%,
            color-mod(var(--blue) l(-4%) s(-10%))
    );
    border-radius: 5px;

    -webkit-font-smoothing: subpixel-antialiased;

    .button-content {
        font-size: 1.2rem;
    }
}

.subscribe-form button:active,
.subscribe-form button:focus {
    background: color-mod(var(--blue) l(-9%) s(-10%));
}

.subscribe-form .button-loader,
.subscribe-form .message-success,
.subscribe-form .message-error {
    display: none;
}

.subscribe-form .loading .button-content {
    visibility: hidden;
}

.subscribe-form .loading .button-loader {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    margin-left: -19px;
    transform: scale(0.7);
}

.subscribe-form .button-loader svg path,
.subscribe-form .button-loader svg rect {
    fill: #fff;
}

.subscribe-form .success .message-success,
.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    margin: 1em auto 0;
    max-width: 400px;
    color: #ba1313;
    font-size: 1.4rem;
    line-height: 1.5em;
    text-align: center;
}

.message-success {
    display: block;
    color: #26aa2e !important;
    strong, b {
        color: #26aa2e !important;
    }
}



.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    display: block;
}

@media (max-width: 500px) {
    .subscribe-form form {
        flex-direction: column;
    }

    .subscribe-form .form-group {
        flex-direction: column;
        width: 100%;
    }

    .subscribe-form button {
        margin: 10px 0 0 0;
        width: 100%;
    }
}
