.arts-entertainment,
div.chip.performing-arts,
div.chip.visual-arts,
div.chip.games,
div.chip.sports,
div.chip.travel,
div.chip.mass-media,
div.chip.dance,
div.chip.film-television,
div.chip.music,
div.chip.theatre,
div.chip.comedy,
div.chip.architecture,
div.chip.comics,
div.chip.crafts,
div.chip.drawing,
div.chip.painting,
div.chip.photography,
div.chip.board-games,
div.chip.card-games,
div.chip.video-games,
div.chip.scuba-diving,
div.chip.hobbies,
div.chip.internet,
div.chip.magazines,
div.chip.newspapers,
div.chip.radio
{
    background-color: #B84040 !important;
    color: #000000;
}

.technology,
div.chip.design,
div.chip.user-exerience,
div.chip.accessibility,
div.chip.safety,
div.chip.engineering,
div.chip.automation,
div.chip.computing,
div.chip.artificial-intelligence
{
    background-color: #B86840 !important;
    color: #000000;
}

.society,
div.chip.education,
div.chip.jobs,
div.chip.equality,
div.chip.religion,
div.chip.crime,
div.chip.drugs,
div.chip.relationships,
div.chip.culture,
div.chip.food-drink,
div.chip.languages,
div.chip.traditions
{
    background-color: #B8B840 !important;
    color: #000000;
}

.nature,
div.chip.physics,
div.chip.chemistry,
div.chip.biology,
div.chip.animals,
div.chip.plants,
div.chip.environment,
div.chip.earth,
div.chip.universe
{
    background-color: #68B840 !important;
    color: #000000;
}

.history,
div.chip.archaeology
{
    background-color: #54B87C !important;
    color: #000000;
}

.economics,
div.chip.capitalism,
div.chip.money,
div.chip.business,
div.chip.real-estate
{
    background-color: #40B8B8 !important;
    color: #000000;
}

.law-government,
div.chip.politics,
div.chip.military,
div.chip.corporatocracy
{
    background-color: #406AB8 !important;
    color: #000000;
}

.philosophy,
div.chip.logic,
div.chip.mathematics,
div.chip.statistics,
div.chip.knowledge-belief,
div.chip.causality-existence-meaning,
div.chip.ethics
{
    background-color: #8E40B8 !important;
    color: #000000;
}

.health-well-being,
div.chip.physical-health,
div.chip.mental-health,
div.chip.personal-development,
div.chip.nutrition,
div.chip.exercise,
div.chip.medicine,
div.chip.psychology,
div.chip.neuroscience
{
    background-color: #B84092 !important;
    color: #000000;
}
