div.chip.animals-nature {
    background-color: #4EB740; //#6CD55E;
    color: #000000;
}

div.chip.causality-meaning-purpose {
    background-color: #B7406C; //#D55E8A;
    color: #000000;
}

div.chip.entertainment {
    background-color: #B74040; //#D55E5E;
    color: #000000;
}

div.chip.ethics {
    background-color: #4E40B7; //#6C5ED5;
    color: #000000;
}

div.chip.knowledge-belief {
    background-color: #A840B7; // #C65ED5;
    color: #000000;
}

div.chip.law-government {
    background-color: #405DB7; //#5E7BD5;
    color: #000000;
}

div.chip.logic {
    background-color: #A8B740; //#C6D55E;
    color: #000000;
}

div.chip.people-society {
    background-color: #408AB7; //#5EA8D5;
    color: #000000;
}

div.chip.personal-growth {
    background-color: #40B78A; //#5ED5A8;
    color: #000000;
}

div.chip.relationships {
    background-color: #40B7B7; //#5ED5D5;
    color: #000000;
}

div.chip.science {
    background-color: #B79940; //#D5B75E;
    color: #000000;
}

div.chip.technology {
    background-color: #B76C40; //#D58A5E;
    color: #000000;
}
